<div class="container">
  <div class="header">ช่องทางการติดต่อ</div>
  <div class="main">
    <div>
      <a href="https://www.google.com/maps/place/%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B9%80%E0%B8%97%E0%B8%84%E0%B9%82%E0%B8%99%E0%B9%82%E0%B8%A5%E0%B8%A2%E0%B8%B5%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%88%E0%B8%AD%E0%B8%A1%E0%B9%80%E0%B8%81%E0%B8%A5%E0%B9%89%E0%B8%B2%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%99%E0%B8%84%E0%B8%A3%E0%B9%80%E0%B8%AB%E0%B8%99%E0%B8%B7%E0%B8%AD/@13.819137,100.5142878,15z/data=!4m2!3m1!1s0x0:0xd754c571fc7177b?sa=X&ved=2ahUKEwintKro6bH3AhWfzjgGHd6oAF4Q_BJ6BAhEEAU"><img class="map" [src] =map></a>
      <h5 style="margin-top: 20px;">สถานที่ตั้ง</h5>
      <label>
        มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ
        1518 ถนนประชาราษฎร์ 1 แขวงวงศ์สว่าง เขตบางซื่อ
        กรุงเทพมหานคร 10800
      </label>
      <h5 style="margin-top: 20px;">ติดต่อ</h5>
      <label>
        โทรศัพท์ : 0-2555-2000 <br>
        อีเมลติดต่อ : contact@op.kmutnb.ac.th <br>
        เว็บไซต์ของมหาลัย : www.kmutnb.ac.th<br>
        Facebook : www.facebook.com/kmutnb.ac.th
      </label>
    </div>
  </div>
</div>



