<div class="container">
  <div class="header">ตารางเรียน</div>
  <div class="main">
    <table class="table table-secondary table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">8:00</th>
          <th scope="col">9:00</th>
          <th scope="col">10:00</th>
          <th scope="col">11:00</th>
          <th scope="col">12:00</th>
          <th scope="col">13:00</th>
          <th scope="col">14:00</th>
          <th scope="col">15:00</th>
          <th scope="col">16:00</th>
          <th scope="col">17:00</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>M</th>
          <td colspan="4">
            <div style="display: flex; justify-content: space-around;">
              <label >11414245555 <br>
                04-Kfc
              </label>
              <label>Sec.1 <br>
                62-303
              </label>
            </div>
          </td>
          <td></td>
          <td colspan="4">
            <div style="display: flex; justify-content: space-around;">
              <label >11414245555 <br>
                04-Kfc
              </label>
              <label>Sec.1 <br>
                62-303
              </label>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <th>T</th>
          <td colspan="4">
            <div style="display: flex; justify-content: space-around;">
              <label >11414245555 <br>
                04-Kfc
              </label>
              <label>Sec.1 <br>
                62-303
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <th>W</th>
          <td colspan="5"></td>
          <td colspan="5">
            <div style="display: flex; justify-content: space-around;">
              <label >11414245555 <br>
                04-Kfc
              </label>
              <label>Sec.1 <br>
                62-303
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

