.main{
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100%;
  align-items: center;
}
.contrianer{
  padding: 300px;
  border: 1px solid rgb(205, 205, 205);
  background-color: aliceblue;
  border-radius: 10px;
  margin-top: 150px;
  box-shadow: 2px 3px 33px -7px rgba(0,0,0,0.75);
   -webkit-box-shadow: 2px 3px 33px -7px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 3px 33px -7px rgba(0,0,0,0.75);
}
#button-login{
  margin: 10px;
  width: 300px;
  height: 100px;
  margin-left: 50px;
  margin-right: 50px;

}
#exampleModal{
  border-left: 10px solid black;
  padding: 20px;
}
